.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .header a {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
  
  .header a > span {
    color: '#f33'; 
    margin-left: 10px;
  }
  
  .header__logo {
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__title {
    padding: 0;
    font-size: 24px;
    margin: 0 0 0 20px;
  }
  